* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --crimson: #8f0d1a;
  --ink: #111010;
  --bg: #f7f5f3;
}
body {
  background-color: var(--bg);
  color: var(--ink);
  font-family: "Sora", sans-serif;
}
nav {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--ink);
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-logo {
  font-family: "Lora", serif;
  color: var(--crimson);
  text-decoration: none;
  font-weight: 600;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--bg);
  padding: 10px;
}
main {
  padding-top: 80px;
}
